fastapi
uvicorn
psycopg2-binary
requests
python-multipart
jinja2
aiofiles
python-jose
passlib[bcrypt]
asyncpg
alembic
sqlalchemy
redis
pypika
weasyprint
jinja2
alembic
sqlalchemy
psycopg2-binary
asteval
python-dotenv
